*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

#about .container{
    height: fit-content;
}

#about .row {
   height: fit-content;
}

#about video{
    width: 100%;
}

#about .vidBox{
    width: 100%;

}


#about h3{
    color:rgb(1, 191, 224)
}

#about ul li,#about p, #about h1 {
    color: black;
}


#about ul li strong{
    color: rgb(2, 27, 82);
    
}