*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#contact .body .container .contactInfo{
    background-color: rgb(2, 46, 90);
    border-radius: 4px;
    width: 100%t;
    height: 100%;
    padding: 0.5rem;

}

#contact .body .container  #contForm{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
}

#contact .body .container  form input, #contact .body .container  textarea{
    width: 100%;
   padding-block: 7px;
   border: none;
   outline: none;
   margin-block: 5px;
   border-radius: 4px;
   background-color: rgb(2, 46, 90);
   color: white;
}

#contact .body .container  textarea {
    height: 12rem;
}

#contact .body .container  input::placeholder, #contact .body .container  textarea::placeholder{
    color: white;
}

#contact .body .container  button{
    padding-block: 5px;
    margin-top: 0.2rem;
    width: 100%;
    border: none;
   outline: none;
}

#contact .body .container  h1{
    color: black;
}

#contact .body .container  h5{
    color: rgb(0, 217, 255);
}

#contact .body .container  ul li{
    color: white;

}

#contact .body .container  .bi{
    color: white;
    font-size: 1.5rem;
    margin-inline: 0.5rem;
}