*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#Header {
    margin-bottom: 1rem;
    padding: 0;
}

#Header .username button{
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#Header .username button .bi{
    font-size: 2rem;
    
}

#Header .HeaderSearsh{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    padding: 5px;
}

#Header .bi-list{
    color: #000;
    font-size: 2rem;
}
#Header .HeaderSearsh::placeholder{
    color: black;
}

#Header .HeaderSearsh:focus{
    border: none;
    outline: none;
}
    
#Header ul li {
    display: flex;
    align-items: center;
}

#Header #searsh{
    width: 85px;
}

#Header #searsh:hover{
    width: fit-content;
}