*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*--------------------------Navbar section-----------------------------*/
.Navbarr .navbar{
    background-color: rgb(1, 1, 70);
}
.Navbarr .navbar, .Navbarr .collapse{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Navbarr .buttons, .Navbarr .form-inline{
    width: 50%;
}
.Navbarr .collapse{
    justify-content: center;
    padding-inline: 2rem;
}

.Navbarr .buttons{
    margin-left: 5rem;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.Navbarr .buttons button{
    background-color: rgb(241, 241, 241);
    color: black;
    margin-inline: 0.2rem;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
}

.Navbarr .form-inline,.Navbarr ul{ 
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Navbarr .form-inline{
    width: 70%;
}
.Navbarr ul{
    width: 30%;
}
.Navbarr .form-inline input{
    width: 70%;
}

.Navbarr .form-inline button{
    background-color: rgb(241, 241, 241);
    color: black;
    width: fit-content;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
}
.Navbarr .form-inline input{
    margin-right: 0.3rem;
}

.Navbarr .collapse ul li .Link{
    color: white;
    text-decoration: none;
}

.Navbarr .collapse ul li{
    list-style: none;
    margin-inline: 1.2rem;
}

.Navbarr .collapse ul li .Link:hover{
    color: rgb(5, 5, 255);
    background-color: white;
    border-radius: 8px;
    padding: 3px;
    font-weight: bold;
}

.Navbarr .Link_logo{
    color: white;
    padding-inline: 3rem;
    font-size: 2rem;
    text-decoration: none;
}

.Navbarr .icon{
    font-size: 3rem;
}

.user{
    background-color: transparent;
    border-radius: 8px;
    color: yellow;
    padding-inline: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 0;
    margin-left: 1rem;
    font-size: 18px;
}

.user i{
    font-size: 2rem;
    color: yellow;
    margin-right: 0.3rem;
}