*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*--------------------------Navbar section-----------------------------*/
.navbar{
    background-color: rgb(1, 1, 70);
}
.navbar, .collapse{
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons, .form-inline{
    width: 50%;
}
.collapse{
    justify-content: center;
    padding-inline: 2rem;
}

.buttons{
    margin-left: 5rem;
    width: 50%;

}

.buttons button{
    background-color: rgb(241, 217, 208);
    color: black;
    margin-inline: 0.2rem;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
}

.form-inline, ul{
    width: 50%;   
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.form-inline input{
    width: 70%;
}

.form-inline button{
    background-color: rgb(241, 217, 208);
    color: black;
    width: fit-content;
    padding: 5px;
    font-size: 18px;
    border-radius: 8px;
    border: 1px solid white;
}
.form-inline input{
    margin-right: 0.3rem;
}

.collapse ul li .Link{
    color: white;
    text-decoration: none;
}

.collapse ul li{
    list-style: none;
    margin-inline: 1.2rem;
}

.collapse ul li .Link:hover{
    color: rgb(5, 5, 255);
    background-color: white;
    border-radius: 8px;
    padding: 3px;
    font-weight: bold;
}

.Link_logo{
    color: white;
    padding-inline: 3rem;
    font-size: 2rem;
    text-decoration: none;
}

.icon{
    font-size: 3rem;
}
