*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ProductsWindow .loadind{
    width: 100%;
    height: 50vh;
    text-align: center;
    padding-top: 3rem;
}

.ProductsWindow .prod{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-left: 1rem;
}

.ProductsWindow .pagination{
    width: 100%;
    padding: 0.5rem;
    background-color: light;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem;
}

.ProductsWindow .pagination button{
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    background-color: lightgrey;
    color: black;
    font-size: 1.1rem;
    border: 1px solid black;
    margin-left: 0.5rem;
    border-radius: 0.3rem;
}

.ProductsWindow .pagination button:hover {
    background-color: green;
    color: white;
}

.ProductsWindow .container .card{
    margin-inline: 0.5rem;
    width: 15rem;
    margin-bottom: 1rem;
    height: fit-content;
}

.ProductsWindow .card-img-top{
    height: 10rem;
    padding: 1rem;
}

.ProductsWindow .card-body{
    margin: 0;
    padding-block: 0.5rem;
    padding-inline: 1rem;
}

.ProductsWindow  .filters{
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-block: 2rem;
}

.ProductsWindow  .filters input, .ProductsWindow .filters select{
    width: 20%;
}

.ProductsWindow  .filters .refresh .reload{
    font-size: 1.5rem;
}

.ProductsWindow .filters .filterinp{
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px;
}

.ProductsWindow .price{
    color: rgb(5, 177, 5);
}

.ProductsWindow .card-body .detail{
    color: blue;
    font-weight: bold;
}

.ProductsWindow .card-footer{
    display: flex;
    justify-content: center;
}

.ProductsWindow .showMore{
    width: 100%;
    text-align: center;

}
/*--------modal---------*/

.ProductsWindow  .productImage{
    height: 12.5rem;
    width: 70%;
    background-color: lightgrey;
    border: 1px solid rgb(185, 183, 183);
    border-radius: 6px;
    
}

.ProductsWindow  .productImage img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.ProductsWindow .modal-body .row .right{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.ProductsWindow .modal-body .detail{
    font-weight: bold;
    font-size: 18px;
}

.ProductsWindow .equivals{
    width: 100%;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
}

.ProductsWindow .card-body .lines span{
    font-size: 12px;
    
}

.ProductsWindow .card-body .lines{
    overflow: hidden;
    width: 100%;
    height: fit-content;
}

.ProductsWindow .card-body .detail{
    color: black;
}

.ProductsWindow .equivals .card{
    background-color: rgba(236, 248, 252, 0.979);
    min-width: 9.2rem;
    max-height: 12rem;
    margin-inline: 0.5rem;
}

.ProductsWindow .view .modal-body .row{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}
.ProductsWindow .modal-body .price{
    color: crimson;
    font-weight: bold;
    padding-right: 2.5rem;
}

.ProductsWindow .modal-body .leftR{
    float: right;
    margin-right: 1.5rem;
}

.ProductsWindow .modal-footer .equivalet{
    width: 100%;
    text-align: left;
}

.ProductsWindow .filters .filterinp{
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px;
}

.ProductsWindow .equivals .c-footer {
    border-top: 1px solid rgb(173, 172, 172);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
