*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar{
    padding: 0;
    max-height: 100vh;
    min-height: 100vh;
    /*overflow-y: scroll;*/
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.userInfo{
    width: 240px;
    height: 60px;
    display: flex;
    background-color:black;
    padding: 1rem;
    padding-block: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    border-bottom: 0.5px solid rgb(179, 176, 176);
    padding-block: 0;
}

/*.userInfo p{
    position: absolute;
    left: 40%;
    top: 90%;
    font-size: 18px;
    color: black;
}*/

.userInfo img{
    width: 70%;
    height: fit-content;
}

.userInfo .userImage{
    width: 60px;  /* width 50%*/
    height: 60px;  /* height 50%*/
    border-radius: 50%;
    border: 2px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:lightgrey;
    margin-right: 0.5rem;
}

.link {
    text-decoration: none;
    color: white;
}
.userInfo .userImage i{
    font-size: 45px;
    color: blue;
}

.userInfo .username{
    display: flex;
    flex-direction: column;
}

.userInfo .username h4{
    color: yellow;
}

.mainlinks li a i{
    font-weight: bold;
}


.mainlinks{
    width: 100%;

}

.mainlinks a{
    text-decoration: none;
}

.mainlinks .link{
    list-style: none;
    padding-block: 0.5rem;
    cursor: pointer;
    width: 100%;
    padding-left: 1rem;
}

.mainlinks .logout{
    padding-left: 1rem;
    text-decoration: none;
    color: white;
}

.active{
    background-color: rgb(2, 30, 155);
}

.sidebar ul{
    margin-left: 0;
    padding-left: 0;
}


