*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidebar{
    padding: 0;
    height: 100vh;
    min-width: 14vw;
    /*overflow-y: scroll;*/
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
    background-color: #2784fc;
}

.userInfo{
    width: 100%;
    height: 9%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.userInfo .logo{
    font-size: 2rem;
}

.userInfo span{
    font-size: 1.7rem;
}

.link {
    text-decoration: none;
    color: white;
}
.userInfo .userImage i{
    font-size: 45px;
    color: blue;
}

.userInfo .username{
    display: flex;
    flex-direction: column;
}

.userInfo .username h4{
    color: yellow;
}

.mainlinks li a i{
    font-weight: bold;
}


.mainlinks{
    width: 100%;

}

.mainlinks a{
    text-decoration: none;
}

.mainlinks .link{
    list-style: none;
    padding-block: 0.5rem;
    cursor: pointer;
    width: 100%;
    padding-left: 1rem;
}

.mainlinks .logout{
    padding-left: 1rem;
    text-decoration: none;
    color: white;
}

.active{
    background-color: rgba(4, 29, 255, 0.568);
}

.sidebar ul{
    margin-left: 0;
    padding-left: 0;
}


